# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
env/
ENV/
.venv/
.env
.python-version

# Pytest cache
.pytest_cache/

.python-version

# Ignore all JSON files with 'experiment_' prefix in any directory
**/experiment_*.json
.DS_Store
